<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test" verbose="1" data-provider-thread-count="2" thread-count="3" parallel="classes">
    <test  name="First">
        <classes>
            <class name="StepDefinitions.Tests.CaseOneTestSteps">
                <methods>
                    <include name="user_should_pass_onboarding_screens"/>
                    <include name="user_checks_if_home_page_exists_or_not"/>
                    <include name="user_changes_category_to_baby_care"/>
                    <include name="user_open_a_random_product_detailb"/>
                    <include name="user_adds_this_product_to_basket"/>
                    <include name="return_last_page"/>
                    <include name="user_changes_category_to_snacks"/>
                    <include name="user_open_a_random_product_detail"/>
                    <include name="userAddsThisProductToBasketb"/>
                    <include name="returnLastPageb"/>
                    <include name="user_goes_to_basket"/>
                    <include name="control_added_products_and_prices"/>
                    <include name="user_should_deletes_all_products_from_basket"/>
                 </methods>
            </class>
        </classes>
    </test>

    <test  name="Second">
        <classes>
            <class name="StepDefinitions.Tests.CaseTwoTestSteps">
                <methods>
                    <include name="user_should_pass_onboarding_screensd"/>
                    <include name="user_checks_if_home_page_exists_or_notd"/>
                    <include name="user_Gets_The_NumberOfCategoriesAndWriteThisNumberToConsole"/>
                    <include name="user_open_a_random_category"/>
                    <include name="userAddsThreeRandomProductsToWishlistViaMiniHeartIcon"/>
                    <include name="user_opens_the_menu_in_the_left"/>
                    <include name="user_go_to_my_wishlist"/>
                    <include name="user_controls_the_page_and_products"/>
                    <include name="user_deletes_all_of_them_from_wishlist"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>